"Hello World!"
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      Welcome to MakersBnB
      Website created by: Ash, Albert, Nick, Sophie
  </body>
</html>
