<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <!-- <script src="https://code.jquery.com/jquery-3.2.0.js"></script> -->
</head>
<body>
  
  <form action='/places/new' method='post' role="form">

    <div class="form-group row">
      <label for="placename" class="col-sm-1 col-form-label col-md-offset-4 ">Place name:</label>
      <div class="col-sm-2">
        <input class="form-control" type="text" placeholder="Enter place name" id="placename" name="placename" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="location" class="col-sm-1 col-form-label col-md-offset-4">Location:</label>
      <div class="col-sm-2">
        <input class="form-control" type="text" placeholder="Enter location name" id="location" name="location">
      </div>
    </div>

    <div class="form-group row">
      <label for="description" class="col-sm-1 col-form-label col-md-offset-4">Description:</label>
        <div class="col-sm-2">
          <textarea class="form-control" type="text" placeholder="Enter short description" id="description" name="description" rows="3" cols="2" required></textarea>
        </div>
    </div>

    <div class="form-group row">
      <label for="price" class="col-sm-1 col-form-label col-md-offset-4">Price per night:</label>
      <div class="col-sm-2">
        <input class="form-control" type="text" placeholder="Enter price" id="price" name="price" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="example-datetime-local-input" class="col-sm-1 col-form-label col-md-offset-4">Date available from:</label>
      <div class="col-sm-2">
        <input class="form-control" type="date"  id="date_from" name="date_from">
      </div>
    </div>

    <div class="form-group row">
      <label for="example-datetime-local-input" class="col-sm-1 col-form-label col-md-offset-4">Date available till:</label>
      <div class="col-sm-2">
        <input class="form-control" type="date"  id="date_to" name="date_to">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-offset-5">
        <input id='submit' type="submit" value="Submit" class="btn btn-primary">
      </div>
   </div>

  </form>

  <!-- <script src="/js/newplace.js" type="text/javascript"></script> -->
  </body>
  </html>
